# Ambiente de execucao
NODE_ENV=development
PORT=3000

# PostgreSQL
DB_HOST=localhost
DB_PORT=5434
DB_USER=admin
DB_PASSWORD=password123
DB_NAME=sctec

# JSON Web Token
JWT_SECRET=troque-este-valor-em-producao
JWT_EXPIRES_IN=1d

# bcrypt
BCRYPT_SALT_ROUNDS=10
